body {
    margin: 0;
    padding: 0;
}

header {
    background-color: #2e2d2d;
    padding: 20px;
}

.logo {
    display: flex;
    justify-content: center;
    font-variant-caps: all-small-caps;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 10;
    padding: 0;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    font-size: larger;
    text-decoration: none;
    color: #fffefe;
}

nav ul li a:hover {
    color: #000;
}

.container {
    padding: 50px 10%;
}

h1 {
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

label {
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    width: 80px;
    text-align: right;
}

input {
    width: 120px;
    padding: 5px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 5%;
    border-color: rebeccapurple;
}

#result {
    font-size: larger;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}