* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #3d3a3a;
  padding: 10px;
}

.logo {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-variant-caps: all-small-caps;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  font-size: medium;
  color: #fff;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
}

nav ul li {
  margin: 10px 0;
}

.container {
  display: flex;
  justify-content: center;
  padding: 20px 5%;
  margin: 20px;
  overflow: hidden;
  height: 1000px; 
}

.collage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 100%;
  width: 100%;
}

.collage .column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box {
  justify-items: center;
  position: relative;
  cursor: pointer;
}

.box img {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 768px) {
  .collage {
    flex-direction: row;
  }
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.37);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #f1ececbc;
}

.box:hover .overlay {
  transform: scale(0.75);
}